
@model IEnumerable<SoftwareEnterprises.Models.Employee>
@{

    ViewData["Title"] = "Index";
}
<br />
<br />


<div class="container">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">All Empolyees</h5>
                    </div>
                    <div class="card-body">
                        <form asp-action="Index" method="post">
                            <div class="row">
                                <div class="col-1">
                                    <label>Manager:</label>
                                </div>
                                <div class="col-6">
                                    <select name="id" asp-items="ViewBag.Manager" class="form-control">
                                        <option>Select</option>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <input type="submit" value="Search" class="btn btn-success" />
                                </div>
                                <div class="col-1">
                                    <a asp-action="Index" class="btn btn-secondary">Clear</a>
                                </div>

                            </div>
                        </form>


                        <br />
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Empolyee ID</th>
                                    <th>Last Name</th>
                                    <th>First Name</th>

                                </tr>

                            </thead>
                            <tbody id="tableData">
                                @{
                                    if (Model.Any())
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr class="text-center">
                                                <td>@item.EmployesId</td>
                                                <td>@item.LastName</td>
                                                <td>@item.FirstName</td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="3" style="text-align: center">No Data Found!</td>
                                        </tr>
                                    }
                                }

                            </tbody>

                        </table>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-warning mt-3" asp-action="Create" asp-controller="Employee">Create New</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@section scripts{
   
}